* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
h2{
    margin-top: 20px;
    text-align: center;
}
.slide-wrap{
    width: 600px;
    margin: 100px auto;
    overflow: hidden;
}
/* 좌우 슬라이드 */
.slide-list{
    display: flex;
}
.slide-list li{
    /* flex-grow : 0; 여분 공간을 늘리지 않음 */
    /* flex-shrink : 0; 공간이 부족해도 줄어들지 않음 */
    /* flex-basis : 1000px; 아이템 기본 크기 */
    flex: 0 0 600px;
}

/* 상하 슬라이드 */
.slideUp-box{
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
}
.slide-list-up{
position: relative;
margin: 0;
padding: 0;
}

.slide-list-up li{
    height: 400px;
    display: block;
}

/* 페이드인 페이드아웃 */
.slide-fade{
    position: relative;
    width: 100%;
    height: 400px;
}
.slide-fade li{
    position: absolute;
    top: 0;
    left: 0;
}